.grid {
    display: grid
}

.grid-flow-col {
    grid-auto-flow: column;
    
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    display: block;
    width: 1040px;
    margin-inline: auto;
    
}

.container-2 {
    display: grid;
    width: 1040px;
    margin-inline: auto;
    text-align: center;
}

.gap-24 {
    gap: 24px;
}



main {
    /*margin-block: 120px;*/
    
    
    

}

.profile {
    margin-top: 120px;
    margin-bottom: 56px;
    
    
    img:nth-child(1) {
        margin: auto;
        border-radius: 50%;
        width: 87px;  
        height: 87px;
        object-fit: cover;
        border: 2px solid;
        border-color: var(--text-main-red);
        
        
    }
    img:nth-child(2) {
        position: relative;
        right: 35px;
        width: 32px;
        height: 32px;
        margin: auto;
    }
}

#socialmedias {
    margin-top: 80px;

}

.arrow {
    margin-top: 99px;
    margin-bottom: 120px;
    
    }

h1, h2, h3 {
    font: inherit;
}

.title-lg {
    font: var(--h1);
}

.title-md {
    font: var(--h2);
}

.title-sm {
    font: var(--h3);
}

.text-sm {
    font: var(--text-sm);
}

.text-span {
    font: var(--text-span);
}


